<%= form_with scope: :session, url: session_path, id: "new-session" do |form| %>
  <div>
    <div class="mdc-text-field mdc-text-field--box">
      <%= form.email_field :email, class: "mdc-text-field__input", autofocus: true %>
      <label class="mdc-floating-label" for="my-text-field">Email</label>
    </div>
  </div>

  <div>
    <div class="mdc-text-field mdc-text-field--box">
      <%= form.text_field :nickname, class: "mdc-text-field__input"%>
      <label class="mdc-floating-label" for="my-text-field">Nickname</label>
    </div>
  </div>

  <div>
    <%= form.submit :submit, class: "mdc-button" %>
  </div>

<% end %>
