<%= form_with scope: :session, url: sessions_path, id: "new-session" do |form| %>
  <div class="mdc-text-field mdc-text-field--box">
    <%= form.text_field :email, class: "mdc-text-field__input", autofocus: true %>
    <label class="mdc-floating-label" for="my-text-field">Email</label>
  </div>

  <div>
    <%= form.submit :submit, class: "mdc-button" %>
  </div>
<% end %>
