<%= form_with scope: :session, url: session_path, id: "new-session" do |form| %>
  <div>
    <div class="mdc-text-field mdc-text-field--fullwidth">
      <%= form.text_field :username, class: "mdc-text-field__input", placeholder: "Username", autofocus: true, autocapitalize: "none" %>
    </div>
  </div>

  <div>
    <div class="mdc-text-field mdc-text-field--fullwidth">
      <%= form.text_field :nickname, class: "mdc-text-field__input", placeholder: "Credential Nickname" %>
    </div>
  </div>

  <div class="center">
    <%= form.submit :submit, class: "mdc-button" %>
  </div>
<% end %>
