<p>
  Hi <%= current_user.email %>, you're signed in!
</p>

<%- if current_user && current_user.credentials.any? %>
  <div id="add-credential">
    <%= link_to "Add credential", user_credentials_path(current_user), method: :post, remote: true, class: "mdc-button" %>
  </div>
<% end%>

<ul class="mdc-list mdc-list--two-line">
  <% current_user.credentials.each do |credential| %>
    <li class="mdc-list-item">
      <span class="mdc-list-item__graphic material-icons">vpn_key</span>
      <span class="mdc-list-item__text">
        <%= credential.external_id %>

        <span class="mdc-list-item__secondary-text">
          <%= credential.public_key %>
        </span>
      </span>
    </li>
  <% end %>
</ul>
