<p>
  Hi <%= current_user.email %>, you're signed in!
</p>

<p>
  Your credential id is: <%= current_user.credential_id %>
</p>

<p>
  Your credential public key is: <%= current_user.credential_public_key %>
</p>
