<p>
  Hi <%= current_user.email %>, you're signed in!
</p>

<p>
  Your credentials are:
</p>

<% current_user.credentials.each do |cred| %>
  <p> Credential ID: <%= cred.raw_id %> </p>
  <p> Credential public key: <%= cred.public_key %></p>
  <br/>
<% end %>
