<p>
  Hi <%= current_user.email %>, you're signed in!
</p>

<%- if current_user && current_user.credentials.any? %>
  <div id="add-credential">
    <%= link_to "Add another credential for this user", user_credentials_path(current_user), method: :post, remote: true %>
  </div>
<% end%>

<p>
  Your credentials are:
</p>

<% current_user.credentials.each do |cred| %>
  <p> Credential ID: <%= cred.external_id %> </p>
  <p> Credential public key: <%= cred.public_key %></p>
  <br/>
<% end %>
