/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$mdc-theme-primary: #118762;
$mdc-theme-secondary: #31b67b;
$mdc-theme-background: #d9d9d9;

@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/icon-button/mdc-icon-button";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/snackbar/mdc-snackbar";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";
@import "@material/theme/mdc-theme";
@import "@material/top-app-bar/mdc-top-app-bar";


html {
  background-color: #626262;
}

html, body {
  height: 100%;
  font-family: "proxima-nova", sans-serif;
  margin: 0 5%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  padding: 20px;
  flex-shrink: 0;
}

.page-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 0px 20px;
}

.center {
  display: flex;
}

.center input {
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  margin: 10px 0px;
}

a {
  text-decoration: none;
}

.app-card {
  margin-top: 2rem;
}

.app-card__primary {
  padding: 1rem;
}

.hidden {
  display: none;
}

.adhoc-top-app-bar_title {
  font-family: 'proxima-nova', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  text-decoration: inherit;
  text-transform: inherit;
  padding-left: 20px;
  padding-right: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}

.adhoc-top-app-bar {
  background-color: var(--mdc-theme-primary, #118762);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  z-index: 4;
}