/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$mdc-theme-primary: #212121;
$mdc-theme-background: #f5f5f6;

@import "@material/button/mdc-button";
@import "@material/list/mdc-list";
@import "@material/menu/mdc-menu";
@import "@material/textfield/mdc-text-field";
@import "@material/theme/mdc-theme";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";

body {
  margin: 0;
}

.page-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 0px 20px;
}

.center {
  display: flex;
}

.center input {
  margin-left: auto;
  margin-right: auto;
}

#new-session .mdc-text-field {
  margin: 10px 0px;
}
