<div class="mdc-list hidden" data-controller="feature-detection">
  <div class="mdc-list-item">
    <span class="mdc-list-item__graphic material-icons">warning</span>
    <span class="mdc-list-item__text">
      <span class="mdc-typography--body2" data-target="feature-detection.message">
      </span>
    </span>
  </div>
</div>
