<div class="mdc-list mdc-list--two-line hidden" data-controller="unsupported-browser">
  <div class="mdc-list-item">
    <span class="mdc-list-item__graphic material-icons">warning</span>
    <span class="mdc-typography--body2">
      This browser doesn't support WebAuthn API
    </span>
  </div>
</div>
