name: Ruby

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - name: Check out repository code
      uses: actions/checkout@v3

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version-file: '.nvmrc'

    - name: Yarn
      run: yarn

    - name: Run tests
      env:
        RAILS_ENV: test
        DB_USER: postgres
        DB_PASSWORD: postgres
        PGHOST: localhost
        PGPORT: 5432
      run: |
        bundle exec rake db:create db:schema:load
        bundle exec rake
        TEST_BROWSER=headless_chrome bundle exec rake test:system
